#root {
  background-color: lightgrey;
}

.app {
  text-align: left;
  max-width: 768px;
  margin: auto;
  background-color: white;
  border: solid black 1px;
  height: 100vh;
}

.header {
  text-align: center;
  background-color: #68abfa;
  padding: 8px;
  color: white;
  font-size: 24px;
  border-bottom: solid black 1px;
}

.content {
  position: relative;
}
