.summary-table {
  display: inline-block;
  position: relative;
  width: 60%;
  height: 100%;
}

.summary-total {
  text-align: center;
}

.summary-total__label,
.summary-total__value {
  display: inline-block;
  padding: 12px 0;
  border-bottom: solid black 1px;
}

.summary-total__label {
  width: calc(70% - 1px);
}

.summary-total__value {
  width: 30%;
}
